
/* HEADER */

.container-quizz {
  background: rgba(24, 83, 107, 0.33);
  border: 2px dashed white;
}

.container-quizz-header [name="title"] {
  height: 2em;
  font-size: 3em;
}
.container-quizz-header [name="description"] {
  min-height: 3em;
}
.container-quizz-header {
  background: linear-gradient(to left bottom, rgba(26, 95, 157, 0.5), rgba(61, 226, 154, .5));

  display: flex;
  padding: 1rem;
}

.container-quizz-header h1 {
  align-self: center;
}

.container-quizz-header .title-description {
  flex-grow: 1;
  padding-left: 2rem;
  max-width: 70%;
}

/*RESULTS*/

.container-results {
  border-top: solid 1px white;
  border-bottom: 1px solid white;
  padding: 2rem;
  background: #FC466B;
  background: linear-gradient(to left top, rgba(63, 94, 251, 0.5), rgba(61, 226, 154, 0.5))

}

.result-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.result-list [name="title"] {
  font-size: 2em;
  height: 2em;
}
.result-list [name="description"] {
  min-height: 2rem;
  padding: .5rem;
}
.result-list>div {
  flex: 0 1 50%;
  padding: 1rem;
  max-width: 50%;
}

.container-results .section {
  display: block;
}

.container-questions {
  padding: 2rem;
  background: #4776E6;
  background: linear-gradient(to left bottom, rgba(63, 94, 251, 0.5), rgba(0, 255, 208, 0.5));

}

.question-answer {
  position: relative;
  padding: 3rem 0 1rem;
}

.question-answer:first-of-type {
  padding-top: 1rem;
}

.question-answer:first-of-type::before {
  display: none;
}

.question-answer::before {
  content: "";
  position: absolute;
  top: 1rem;
  background: rgba(255, 255, 255, 0.5);
  height: 1px;
  left: 30%;
  right: 30%;
}

.question-answer h4 {
  margin: 2em 0 0;
}
.question-answer button {
  width: calc(100% - 1rem);
}

.answer-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.answer-list li {
  flex: 0 0 50%;
  padding: 1rem;
}
.answer-list input {
  height: 3rem;
  font-size: 2em;
}

.answer-list select {
  width: 100%;
}

.question-answer [name="title"] {
  height: 2em;
  font-size: 5em;
}
.question-answer [name="description"] {
  min-height: 2rem;
}

.delete-button {
  background: gold;
  color: #000;
}
