* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  max-width: 40em;
  margin: auto;
}
.container-quizz-header {
  padding: 1em;
}
input[type="text"], textarea {
    width: 100%;
    padding: 1em;
    margin: .5em;
  }

input[type="text"] {
  height: 2em;
  padding: 1em;
  margin: .5em;
}

textarea {
  height: 4em;
}

.container-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-results > div {
  flex: 0 1 50%;
  padding: 1em;
}

.container-results h2 {
  flex-basis: 100%;
}

.container-results button {
  flex-basis: 55%;
}
.container-results .section {
  display: block;
}
